/** =================== MONTSERRAT =================== **/

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src:
    url('Montserrat-Medium.woff2') format('woff2'),
    url('Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Black.woff') format('woff');
}

/** ================= MONTSERRAT ALTERNATES ================= **/

@font-face {
  font-family: 'Montserrat Alternates';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/MontserratAlternates/MontserratAlternates-Bold.woff2') format('woff2'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/MontserratAlternates/MontserratAlternates-ExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratAlternates/MontserratAlternates-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/MontserratAlternates/MontserratAlternates-Black.woff2') format('woff2'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Black.woff') format('woff');
}

body {
  font-family: 'Montserrat';
}
